html,body{
    height: 100vh;
    background: linear-gradient(#10416b, black); 
    display: flex;
    justify-content: center;
}

*{
    margin: 0;
}

#container{
    width:400px;
    height:400px;
    position:absolute;
    top:40%;
    left:50%;
    margin-left:-200px; /* width / -2 */
    margin-top:-200px; 
    
}

#jump{
    border-radius: 2rem;
}

#loginHead{
    text-align: center;
    margin-bottom: 25px;
    color: blue;
    font-weight: 900;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#btnGrp{
    display: flex;
    flex-direction:column ;
    

}

#input{
    border-radius: 15px;
}

#loginbtn,#regbtn,#googlebtn{
    margin: 10px;
    border-radius: 15px;
    
}

#loginbtn{

}

